<% form_tag translations_url, :method => :get do -%>
  <%= select_tag :locale_id,    options_from_collection_for_select(I18nDatabase::Locale.all, :code, :name, @locale.code) -%>
  <%= select_tag :translation_option, options_from_collection_for_select(TranslationOption.all, :code, :description, @translation_option.code) -%>
  <%= submit_tag 'Go' %>
<% end -%>

<h2><%= @translation_option.description %>: <%= @locale.name %></h2>

<% if @translations.empty? -%>
  <h3>No records for this criteria.</h3>
<% end -%>

<% for translation in @translations %>
  <div id="<%= "translation_#{translation.class}_#{translation.id}" %>">
  <% form_for(translation, :url => locale_translation_path(@locale, translation), :remote => true) do |f| %>
    <p><%= translation.raw_key %></p>
    <p>
      <%= f.text_field :value, :size => 128 %>
      <%= f.submit "Update" %>
    </p>
  <% end %>
  <hr/>
  </div>
<% end %>
